<br />
<br />
<div class="row">
    <h1>Config Generator</h1>
    <div class="col-md-4">
        <br /><br />
        <div class="form-group">
            <h2 for="TrackInfo">Track Information</h2>
            <select class="form-control" id="TrackInfo">
                <option>Select Track</option>
                <option value="I">Indianapolis Motor Speedway</option>
            </select>
        </div>
    </div>
    </div>
